In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel("trending_football_players.xlsx")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player_name        3000 non-null   object
 1   Images             3000 non-null   object
 2   Age                3000 non-null   int64
 3   National_team      3000 non-null   object
 4   Positions          3000 non-null   object
 5   Overall            3000 non-null   int64
 6   Potential_overall  3000 non-null   int64
 7   Current_club       3000 non-null   object
 8   Current_contract   3000 non-null   object
 9   Value              3000 non-null   object
 10  Wage               3000 non-null   object
 11  Total_stats        3000 non-null   int64
dtypes: int64(4), object(8)
memory usage: 281.4+ KB

In [6]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Current_contract,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"['CAM', 'CM', 'CF']",79,87,Atlanta United,2022 ~ 2025,€39.5M,€10K,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,['LW'],69,75,Celtic,2023 ~ 2028,€2.2M,€22K,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,['CDM'],73,86,Chelsea,2023 ~ 2030,€7M,€32K,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"['CM', 'CDM']",77,89,Paris Saint Germain,2022 ~ 2025,€24M,€9K,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"['CM', 'CAM']",78,89,Al Ahli Jeddah,2023 ~ 2026,€31.5M,€28K,1944

In [7]:
df.tail()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Current_contract,Value,Wage,Total_stats
2995,San Román,https://cdn.sofifa.net/players/242/802/24_60.png,25,Spain,['GK'],68,73,Elche,2023 ~ 2025,€1.4M,€3K,964
2996,D. Afolayan,https://cdn.sofifa.net/players/242/946/24_60.png,25,England,"['LM', 'CF']",70,71,St. Pauli,2023 ~ 2026,€1.9M,€10K,1843
2997,F. Hornby,https://cdn.sofifa.net/players/242/965/24_60.png,23,Scotland,['ST'],69,76,Darmstadt 98,2023 ~ 2027,€2.8M,€11K,1629
2998,Klauss,https://cdn.sofifa.net/players/242/998/24_60.png,26,Brazil,['ST'],74,77,Saint Louis City,2022 ~ 2025,€5.5M,€9K,1808
2999,T. Băluță,https://cdn.sofifa.net/players/243/019/24_60.png,24,Romania,"['CDM', 'CM']",70,74,SSC Farul,2022 ~ 2024,€2.1M,€6K,1782

* Convert Value and Wage column into Numeric Type.

In [10]:
def convert_num(y):
    try:
        if y.endswith("K")==True:
            y = y.replace('K','')
            if y.startswith("€")==True:
                y = y.replace('€','')
                try:
                    return float(y)*1000
                except:
                    return y
            else:
                pass
           
        elif y.endswith("M")==True:
            y = y.replace('M','')
            if y.startswith('€')==True:
                y = y.replace('€','')
                try:
                    return float(y)*10000000
                except:
                    return y
            else:
                pass
            
    except:
        return y

In [11]:
convert_num("€39.5M")

395000000.0

In [12]:
col_to_transform = ['Wage','Value']

for i in col_to_transform:
    df[i] = df[i].apply(lambda x: convert_num(x))

In [13]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Current_contract,Value,Wage,Total_stats
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"['CAM', 'CM', 'CF']",79,87,Atlanta United,2022 ~ 2025,395000000.0,10000.0,2050
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,['LW'],69,75,Celtic,2023 ~ 2028,22000000.0,22000.0,1794
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,['CDM'],73,86,Chelsea,2023 ~ 2030,70000000.0,32000.0,1829
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"['CM', 'CDM']",77,89,Paris Saint Germain,2022 ~ 2025,240000000.0,9000.0,2080
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"['CM', 'CAM']",78,89,Al Ahli Jeddah,2023 ~ 2026,315000000.0,28000.0,1944

In [14]:
df['Wage'].dtype

dtype('float64')

* Make two new columns by spliting the current_contract column.

In [16]:
'~' in '2022 ~ 2025'

True

In [23]:
df['current_contract_from'] = df['Current_contract'].apply(lambda x:str(x.split('~')[0]) if '~' in x else x)
df['current_contract_to'] = df['Current_contract'].apply(lambda x:str(x.split('~')[1]) if '~' in x else 'Present')

In [24]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Current_contract,Value,Wage,Total_stats,current_contract_from,current_contract_to
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"['CAM', 'CM', 'CF']",79,87,Atlanta United,2022 ~ 2025,395000000.0,10000.0,2050,2022,2025
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,['LW'],69,75,Celtic,2023 ~ 2028,22000000.0,22000.0,1794,2023,2028
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,['CDM'],73,86,Chelsea,2023 ~ 2030,70000000.0,32000.0,1829,2023,2030
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"['CM', 'CDM']",77,89,Paris Saint Germain,2022 ~ 2025,240000000.0,9000.0,2080,2022,2025
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"['CM', 'CAM']",78,89,Al Ahli Jeddah,2023 ~ 2026,315000000.0,28000.0,1944,2023,2026

In [26]:
df = df.drop('Current_contract',axis = 1)

* Transform the Positions column and make one row for each value.

In [27]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Value,Wage,Total_stats,current_contract_from,current_contract_to
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,"['CAM', 'CM', 'CF']",79,87,Atlanta United,395000000.0,10000.0,2050,2022,2025
1,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,['LW'],69,75,Celtic,22000000.0,22000.0,1794,2023,2028
2,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,['CDM'],73,86,Chelsea,70000000.0,32000.0,1829,2023,2030
3,W. Zaïre-Emery,https://cdn.sofifa.net/players/270/673/24_60.png,17,France,"['CM', 'CDM']",77,89,Paris Saint Germain,240000000.0,9000.0,2080,2022,2025
4,Gabri Veiga,https://cdn.sofifa.net/players/258/729/24_60.png,21,Spain,"['CM', 'CAM']",78,89,Al Ahli Jeddah,315000000.0,28000.0,1944,2023,2026

In [28]:
df['Positions'].dtype

dtype('O')

In [29]:
df['Positions'] = df['Positions'].apply(lambda x: eval(x))

In [31]:
df['Positions'][0][0]

'CAM'

In [32]:
df = df.explode('Positions', ignore_index = True)

In [33]:
df.head()

,Player_name,Images,Age,National_team,Positions,Overall,Potential_overall,Current_club,Value,Wage,Total_stats,current_contract_from,current_contract_to
0,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,CAM,79,87,Atlanta United,395000000.0,10000.0,2050,2022,2025
1,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,CM,79,87,Atlanta United,395000000.0,10000.0,2050,2022,2025
2,T. Almada,https://cdn.sofifa.net/players/245/371/24_60.png,22,Argentina,CF,79,87,Atlanta United,395000000.0,10000.0,2050,2022,2025
3,L. Palma,https://cdn.sofifa.net/player_0.svg,23,Honduras,LW,69,75,Celtic,22000000.0,22000.0,1794,2023,2028
4,R. Lavia,https://cdn.sofifa.net/players/263/620/24_60.png,19,Belgium,CDM,73,86,Chelsea,70000000.0,32000.0,1829,2023,2030